* {
    box-sizing: border-box;
}

body {
    display: grid;
    place-items: center;
    min-height: 100vh;
}

ul {
    display: flex;
    list-style-type: none;
    padding: 0 10vw;
    margin: 0;
    height: 100%;
    overflow: hidden;
}

.scroll-container {
    overflow-x: scroll;
}

.scroll-list {
    padding: 0;
    margin: 0;
    height: 100vh;
}

li {
    width: 100vw;
    scroll-snap-align: start;
}

.scroll-list li {
    transition: transform 1s ease;
}

.slide-out-left {
    transform: translateX(-100%);
}

.charts {
    display: flex;
    justify-content: space-around;
}

.facts {
    width: 30%;
    font-size: 2em;
}
